{% extends 'base.html' %}

{% load markdownify %}

{% block center_content %}

<article>

    <h1>{{ article.title }}</h1>

    {% if user.is_authenticated and user == article.author %}
        <div><a href="{% url 'article_edit' slug=article.slug %}">Edit this article</a></div>
    {% endif %}

    
      <aside>
    <ul>
        <li>
            <time class="post-date" datetime="2019-03-11T00:00:00Z">Mar 11, 2019</time>
        </li>
        <li>By {{ article.author }}</li>
        
        <li>
            Categories:
            <em>
                {% for category in article.categories.all %}
                    
                    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>,
                {% endfor %}

            </em>
        </li>
        

        <li>{{ article.read_in_minutes }} minute{{ article.read_in_minutes|pluralize }} read</li>
    </ul>
</aside>

{% if article.cover %}
    <div>
        <img src="{{ article.cover.url }}" alt="cover" />
    </div>
{% endif %}
    
{{ article.content|markdownify }}
    
</article>

<h3>Comments </h3>

<ul>
{% if not article.comments_ordered_by_last %}
    <p>No comments here</p>
{% endif %}

{% if user.is_authenticated %}
    <form method="POST" action="{% url 'comment_create' article_slug=article.slug%}">
        <textarea name="comment_content"></textarea>
        <div>
            <input type="submit" value="Send comment" />
        </div>
        {% csrf_token %}
    </form> 
{% endif %}

{% if article.comments_ordered_by_last %}
    {% for comment in article.comments_ordered_by_last %}
        <li>
            <p>By {{ comment.author }} - {{ comment.published_at|date:'SHORT_DATETIME_FORMAT' }}</p>
            <p>{{ comment.content }}</p>
        </li>
    {% endfor %}
{% endif %}
</ul>

{% endblock %}
